/** Estilos sobreescritos */
.g-cartografia-flecha-abajo {
  color: #536DFE !important;
}
.g-cartografia-flecha-arriba {
  color: #536DFE !important;
}
.g-cartografia-flecha-izquierda {
  color: #536DFE !important;
}
.m-areas>div.m-area.m-left>div.m-panel.m-piemapa{
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

.m-areas>div.m-area>div.m-panel.m-piemapa {
  border-radius: 0px !important;
}

.m-areas>div.m-area.m-left.m-bottom>div.m-panel.m-piemapa.opened>div.m-panel-controls{
  width: 100vw !important;
}


.m-areas>div.m-area.m-left.m-bottom>div.m-panel.m-piemapa{
  background-color: transparent !important;
  box-shadow: none !important;
}

.m-areas>div.m-area.m-left.m-bottom>div.m-panel.m-piemapa.opened>button{
  background-color: #ffffff !important;
  /* border-radius: 0px !important; */
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 25px !important;
  float:left !important;
}
.m-areas>div.m-area.m-left.m-bottom>div.m-panel.m-piemapa.opened>button.m-panel-btn.g-cartografia-flecha-izquierda::before{
  content: "\e915";
  /* content: "<>"; */
  font-size: 20px !important;
}

#div-contenedor-piemapa{
  width: 100% !important;
  padding-top: 10px!important;
  background-color: #FFFFFF !important;
}


.m-areas>div.m-area.m-left.m-bottom>div.m-panel.m-piemapa.collapsed>button.m-panel-btn {
    position: absolute !important;
    left: 0px !important;
    bottom: 0px !important;
    box-shadow: none;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    /* width: 100px !important; */
}